
.hero {
    background-image: url("images/computer-coding-background.webp");
    background-size: cover;
    background-position: center;
    padding: 150px;
}

p {
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.startbutton {
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: 27px;
    display: flex;
    margin-left: 46%;
}

#timer {
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
}

#countdown {
    font-size: large;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}


#Questions {
    display:none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 10px;
    text-align: center;
}

h1 {

    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;

}

@media screen and (max-width: 600px) {
    body {
        width: 200%;
    }
  }
