/* Base Styling */
html {
    background-image: url("images/computer-coding-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    height:100vh;
    overflow-x: hidden;
}


h1 {
    font-size: 4rem;
}


.header {
    background-color: rgb(37, 182, 158);
    padding: 30px 80px;
    font-weight: 700;
    color:black;
    justify-content: space-between;

}

.container {
    width:100vh;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }
 
 /* ids */
#timer {
    float: left;
}
#scoreboard {
    float: right;
}
#scoreboard:hover {
    color: #dddddd;
}

/* Buttons */

.btn {

    clear: both;
    text-decoration: none;
    font-size: small;
    text-align: center;
    color:black;
    border: darkblue;
    background-color: whitesmoke;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem 0;
    width: 7rem;
    border-radius: 10%;
    }


.start-quiz-btn:hover {
    background-color: #24a871;
    color: black;
}

.start-quiz-btn {
    clear: both;
    text-decoration: none;
    font-size: small;
    text-align: center;
    color:black;
    border: darkblue;
    background-color: whitesmoke;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem 0;
    width: 7rem;
    border-radius: 10%;
    }
    

.btn-choice {
    text-decoration: none;
    font-size: small;
    text-align: center;
    color:black;
    border: darkblue;
    background-color: whitesmoke;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem 0;
    width: 7rem;
    border-radius: 10%;
}

.btn-choice:hover {
    background-color: #24a871;
    color: black;
}

.highscore-btn {
    text-decoration: none;
    font-size: small;
    text-align: center;
    color:black;
    border: darkblue;
    background-color: whitesmoke;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem 0;
    width: 7rem;
    border-radius: 10%;
}


/* Quiz */

.quiz-section {
    display: none;
}

.quiz {
    display: none;
}


/* Scores */
 
.highscores-section {
    display: none;
   justify-content: center;

}
.user-scores {
    justify-content: center;
    display: flex;
}
.highscore-btn{
    
    display: inline;
}

.writeName {
    display: none;
}
